body{
    /*background-image: url("src/images/outerspace.jpeg");
    background-repeat: repeat;*/
    background-color: black;
}
h1{
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: white;
    font-family: goth;
}

p
{
    color:white
}

label{
    color: white
}

label{
    padding-right: 1rem;
}

#joshsCanvas{
    width: 800px;
    height:400px;
}

.top{
    padding-top: 1rem;
}

